body {
  font-family: var(--secondary-font);
  font-size: 16px;
  letter-spacing: 0.03em;
  font-weight: 300;
  color: var(--main-text-color);
  background-color: var(--accent-bgr-color);
}
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}