:root {
  --main-font: 'Montserrat';
  --secondary-font: 'Nunito';
  --accent-bgr-color: #F2F2F2;
  --second-bgr-color:#EDF0F5;
  --primery-color: #415167;
  --accent-color: #C7A17A;
  --second-accent-color: #F9F5E8;
  --title-text-color: #232C38;
  --main-text-color: #151D28;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  --indent: 30px;
  --items: 3;
}